.ad-inner {
    h4.title {
        margin: 4px 0;
        font-size: 1.2rem;
        color: $listColor;
        height: 24px;
        overflow: hidden;
    }

    h5 {
        margin: 0 0 4px 0;
        height: 20px;
        overflow: hidden;
        cursor: help;
        font-size: 0.9rem;
    }

    p {
        margin: 0 0 5px;

        strong {
            font-weight: bolder;

            span {
                color: $innerColor;
            }
        }
    }

    div {
        padding-bottom: 7px;
    }

    .more-button-box {
        position: absolute;
        margin-bottom: 0;
        font-weight: 400;

        button {
            color: $white;
            font-size: 14px;
            background-color: $moreBackgroundColor;
            cursor: pointer;
            padding: 7px 14px;
            border: 1px solid $moreBorderColor;
            border-radius: 4px;

            &hover {
                background-color: $moreBackgroundColorHover;
                border-color: $moreBorderColorHover;
            }
        }
    }
}
