<style lang="scss">
    .about-us {
        p.paragraph {
            margin-bottom: 20px;
        }
    }
</style>

<template>
    <div class="page about-us">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-8 medium-8 small-12 cell text-justify">
                    <u><h4 v-text="showLanguage('about', 'heading1')"></h4></u>
                    <p><strong v-text="showLanguage('global', 'definition')"></strong> <span v-html="showLanguage('about', 'definition1')"></span></p>
                    <u><h4 v-text="showLanguage('about', 'heading2')"></h4></u>
                    <p><strong v-text="showLanguage('global', 'definition')"></strong></p>
                    <p><strong>1</strong> <span v-html="showLanguage('about', 'definition2')"></span></p>
                    <p><strong>2</strong> <span v-html="showLanguage('about', 'definition3')"></span></p>
                    <p class="text-info" v-html="showLanguage('about', 'intro')"></p>
                    <p class="text-info" v-html="showLanguage('about', 'intro2')"></p>
                    <p class="paragraph" v-text="showLanguage('about', 'p1')"></p>
                    <p class="paragraph" v-text="showLanguage('about', 'p3')"></p>
                    <p class="paragraph" v-text="showLanguage('about', 'p4')"></p>
                    <p class="paragraph" v-text="showLanguage('about', 'p5')"></p>
                    <p class="paragraph" v-text="showLanguage('about', '2')"></p>
                </div>
                <div class="large-4 medium-4 hide-for-small-only right">
                    <p><img class="img-responsive" alt="About Adult Muse Image" src="img/about-image.jpg" /></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            /*
            * Calls the Translation and Language service
            */
            showLanguage( context, key ) {
                //return this.$trans( context, key );
                return this.$store.getters.getLanguageString( context, key );
            },
        }
    }
</script>
