<style>

</style>

<template>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div data-language-input="AGECONF,title" class="card-header text-center" v-text="showLanguage('age', 'title')"></div>
                <div class="card-body">
                    <form name="age-confirmation" method="post" v-bind:action="ageRoute">
                        <!--{{ csrf_field() }}-->
                        <div class="ageConfirmationView text-center">
                            <p><strong data-language-input="AGECONF,heading" v-text="showLanguage('age', 'heading')"></strong></p>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 text-justify">
                                    <p data-language-input="AGECONF,text1" v-text="showLanguage('age', 'text1')"></p>
                                    <p class="text-center"><img v-bind:alt="showLanguage('age' ,'alt')" src="/img/restricted-content.png" /></p>
                                </div>
                            </div>
                            <p data-language-input="AGECONF,text2" v-text="showLanguage('age' ,'text2')"></p>
                            <p>
                                <br />
                                <input type="hidden" value="yes" name="iamanadult" />
                                <button type="submit" class="btn btn-outline-danger u-margin-top-flush" name="enter" value="now" id="enter-website" data-language-input="AGECONF,button1" v-text="showLanguage('age', 'button1')"></button>
                            </p>
                            <hr />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /*
    *   Import the application JS config
    */
    import { AM_CONFIG } from "../config.js";

    export default {
        computed: {
            ageRoute() {
                return AM_CONFIG.WEB_URL + '/age';
            }
        },

        methods: {
            /*
            * Calls the Translation and Language service
            */
            showLanguage( context, key ) {
                //return this.$trans( context, key );
                return this.$store.getters.getLanguageString( context, key );
            },
        }
    }
</script>
