<style lang="scss">
    .main-content {
        .grid-container {
            max-width: 99%;
        }
    }
</style>

<template>
    <div id="main-page-content" class="off-canvas-content main-content">
        <public-post></public-post>
    </div>
</template>

<script>
    /*
    *   Imports the Event Bus to pass events on tag updates
    */
    import { EventBus } from '../event-bus.js';

    /*
    *   Imports components
    */
    import PublicPost from '../components/ads/PublicPost';

    export default {
        /*
        *   Register the components to be used by the home page.
        */
        components: {
            PublicPost
        },

        /*
        *   This component triggers the Ads download from the API
        */
        mounted() {
            this.$store.dispatch( 'loadAds' );

            EventBus.$emit('public-post-loaded', { hello: 'world' });
        }
    }
</script>
