body {
    padding: 0;
    position: relative;
    color: $bodyFontColor;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(/img/bg-blue-white.jpg) repeat-y fixed;

    a {
        color: $linkColor;

        &.router-link-active {
            color: $whiteFont;
            background-color: $linkActiveBackground !important;
            border-radius: 7px;
        }
    }
}
