<style lang="scss">
    .main-content {
        .grid-container {
            max-width: 99%;
        }
    }
</style>

<template>
    <div id="main-page-content" class="off-canvas-content main-content" v-show="show">
    </div>
</template>

<script>
    /*
    *   Imports the Event Bus to pass events on tag updates
    */
    import { EventBus } from '../../event-bus.js';

    /*
    *   Imports components
    */

    export default {
        /*
        *   Register the components to be used by the home page.
        */
        components: {
        },

        data() {
            return {
                show: true
            }
        },

        /*
        *   This component triggers the Ads download from the API
        */
        mounted() {
            //this.$store.dispatch( 'loadMemberAds' );

            EventBus.$on('no-results-found', function( data ){
                this.errorMessage = data.notification;

                this.show = false;

            }.bind(this));
        }
    }
</script>
