<style lang="scss">
    @import '~@/abstracts/_variables.scss';

    .current-spot {
        margin-top: 90px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: $whiteFont;
        background-color: $currentSpotBG;

        h3 {
            color: $whiteFont;
            display: inline-block;
            font-weight: bold;
            font-size: 1.8em;
            padding-left: 25px;
            margin-bottom: 0.3rem;
        }

        #data-loading {
            padding-top: 3px;

            p {
                margin: 0;
                font-weight: bolder;
            }
        }

        .list-gallery-links {
            margin: 10px 10px;
            display: inline-block;

            span {
                margin-top: 3px;
                margin-bottom: 3px;
                color: $galleryColor;
                font-size: 13px;
                font-weight: 400;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: $teal;
                }
            }

            span.galleryView {
                background: $menuButtonBackground url("/img/view-gallery-bg.gif") no-repeat scroll 0 -18px;
                padding: 1px 5px 1px 22px;
            }

            span.galleryViewSelected {
                background: $cyan url("/img/view-gallery-bg.gif") no-repeat scroll 0 0;
                color: $whiteFont;
                cursor: default;
            }

            span.listView {
                background: $menuButtonBackground url("/img/view-list-bg.gif") no-repeat scroll 0 -18px;
                padding: 1px 5px 1px 22px;
            }

            span.listViewSelected {
                background: $cyan url("/img/view-list-bg.gif") no-repeat scroll 0 0;
                color: $whiteFont;
                cursor: default;
            }
        }
    }
</style>

<template>
    <div class="current-spot">
        <div class="grid-x">
            <div class="large-5 medium-5 small-6 cell text-left">
                <h3 class="hide-for-small-only" v-text="setTitleText"></h3>
            </div>
            <div class="large-2 medium-2 hide-for-small-only cell" id="data-loading">
                <div class="text-center col-md-3" v-show="isLoading">
                    <p>
                        <span v-text="showLanguage('global', 'pleaseWait')"></span>
                        <img alt="Loading" src="img/progressring.gif" />
                        <span v-text="showLanguage('global', 'loadingData')"></span>
                    </p>
                </div>
            </div>
            <div class="large-5 medium-5 small-6 cell text-right" v-show="getCurrentActivePage === 'latest' || getCurrentActivePage === 'slug'">
                <span class="right list-gallery-links">
                    <span id="galleryLink" v-on:click="changeView('adGalleryView')" v-bind:class="'galleryView ' + getActiveGallery " v-text="showLanguage('global', 'galleryView')"></span>
                    <span id="listLink" v-on:click="changeView('adListView')" v-bind:class="'listView ' + getActiveList"  v-text="showLanguage('global', 'listView')"></span>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    /*
    * Import the Event bus
    */
    import { EventBus } from '../../event-bus.js';

    export default {

        data: function() {
            return {
                titleText: '',
                currentActivePage: '',
                currentActiveView: 'adGalleryView',
                runViewChange: null
            }
        },

        computed: {
            isLoading: function() {
                return (this.$store.getters.getAdsLoadStatus === 1 || this.$store.getters.getAdLoadStatus === 1);
            },

            setTitleText() {
                return this.titleText;
            },

            getCurrentActivePage() {
                return this.currentActivePage;
            },

            getActiveGallery() {
                if (this.currentActiveView === 'adGalleryView') {
                    return 'galleryViewSelected';
                }
                return '';
            },

            getActiveList() {
                if (this.currentActiveView === 'adListView') {
                    return 'listViewSelected';
                }
                return '';
            },

            watchRunViewChange() {
                return this.runViewChange;
            }
        },


        /*
        *   Defined this components watchers
        */
        watch: {
            /*
            *   Initiates the view change for latest ads
            */
            'watchRunViewChange': function() {
                if (this.runViewChange !== null) {
                    if (this.currentActiveView === 'adGalleryView') {
                        EventBus.$emit('change-gallery', { show: true });
                        EventBus.$emit('change-list', { hide: true });
                    }
                    if (this.currentActiveView === 'adListView') {
                        EventBus.$emit('change-list', { show: true });
                        EventBus.$emit('change-gallery', { hide: true });
                    }
                    //EventBus.$emit('latest-view-change', { in: this.currentActiveView, out: this.runViewChange });
                    this.runViewChange = null;
                }
            }
        },

        /*
        *   This components active methods
        */
        methods: {
            /*
            *   Get the active route, get and set the Active Title
            */
            getTitleText() {
                var activePage = this.$route.name;
                if (activePage) {
                    this.titleText = this.showLanguage( 'pages', activePage );
                    this.currentActivePage = activePage;
                    console.log('current active page: ' + activePage);
                }
            },

            /*
            * Calls the Translation and Language service
            */
            showLanguage( context, key ) {
                //return this.$trans( context, key );
                return this.$store.getters.getLanguageString( context, key );
            },

            /*
            *   Changes the view between Gallery & List
            */
            changeView: function(view) {
                console.log("current active view is: " + this.currentActiveView);
                console.log("change the active view to: " + view);
                if (view === this.currentActiveView) {
                    // nothing to change
                    return false;
                }
                this.setView( view );
            },

            /*
            * Called by changeView() to trigger the view swap process
            */
            setView( view ) {
                this.runViewChange = this.currentActiveView;
                this.currentActiveView = view;
            }
        },

        /*
        * Methods to run upon creation
        */
        created: function() {
            this.getTitleText();
        },

        // watch: {
        //     this.routeWatcher = this.$watch(
        //         function () {  return this.$route },
        //         function(route) {
        //             if (route.name) {
        //                 this.routeName = route.name;
        //             }
        //         }
        //     )
        // }

    };
</script>

