<style lang="scss">
    @import '~@/abstracts/_variables.scss';

    div#image-upload-modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 13;

        .image-upload-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-left:auto;
            margin-right:auto;
            padding: 20px;
            background-color: $white;
            border: 1px solid $modalBorderColor;
            -webkit-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
            box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
            border-radius: 4px;
            font-size: 16px;
            z-index: 4;
            height: 100%;
            overflow: auto;
            scroll-behavior: smooth;

            div.image-upload {
                background: #FFFFFF;
                box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
                height: 50px;
                line-height: 50px;
                margin: auto;
                width: 400px;
                margin-top: 150px;
                color: #242E38;
                font-family: "Lato", sans-serif;
                font-size: 16px;

                h3 {
                    height: 45px;
                    border-left: 5px solid $cosmicColor;
                    margin-bottom: 0;

                    .close-label {
                        cursor: pointer;

                        img {
                            border: $red dotted 1px;
                            margin-right: 7px;
                        }
                    }
                }

                progress {
                    width: 100%;
                }

                .form-group {
                    background-color: $formBackgroundColor;
                    padding: 15px 10px;

                    .help-data {
                        display: inherit;
                    }

                    .add-label {
                        height: 4rem;

                        label {
                            vertical-align: sub;
                            margin: 10px 0 0 0;
                            font-weight: 600;
                        }
                    }

                    .input-lg {
                        height: 46px;
                        padding: 10px 16px;
                        font-size: 18px;
                        line-height: 1.3333333;
                        border-radius: 6px;
                        -moz-border-radius: 6px;
                        -webkit-border-radius: 6px;
                    }
                }
            }
        }
    }

</style>

<template>
    <transition name="slide-in-top">
        <div id="image-upload-modal" v-show="show" v-on:click="closeDialogOutside($event)">
            <div class="image-upload-modal">
                <div class="image-upload">
                    <h3 class="text-center"><span v-text="showLanguage('post', 'imageUpload')"></span> <span v-on:click="closeThisDialog('button')" class="btn-info close-label float-right" type="button"><img title="Close modal" alt="Close modal" src="/img/close-icon.svg"></span></h3>
                    <form  class="form-group" onsubmit="return false;" action="#" method="post">
                        <div class="large-12 medium-12 small-12 grid-container u-padding-flush">
                            <div class="grid-x grid-margin-x">
                                <div class="large-4 medium-4 small-4 cell add-label u-padding-flush">
                                    <label class="text-left" for="imageFile" v-text="showLanguage('post','imageUploading')"></label>
                                </div>
                                <div class="large-8 medium-8 small-8 cell u-padding-flush">
                                    <input class="input-sml" id="imageFile" ref="imageFile" type="file" :placeholder="showLanguage('post', 'file')" v-on:change="upload($event)" />
                                </div>
                                <div class="large-12 medium-12 small-12 cell u-padding-flush">
                                    <progress max="100" :value.prop="uploadPercentage"></progress>
                                    <br>
                                </div>
                            </div>
                            <div class="grid-x-grid-margin-x text-left" v-show="uploadedImagesBox">
                                <div class="large-12 medium-12 small-12 cell">
                                    <p id="images-preview" class="text-left"><span v-for="image in getImagesBox"><img alt="#" :src="'/image/loader/sandbox/' + image + '/80/80'" /></span></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    /*
    * Import the Event bus
    */
    import { EventBus } from '../../event-bus.js';

    /*
    *   Imports the Adultmuse URL from the config
    */
    import { AM_CONFIG } from '../../config.js';

    export default {

        /*
        *   Data required for this component
        */
        data() {
            return {
                show: false,
                help: {
                    websiteBoxHelp: ''
                },
                currentFile: '',
                uploadPercentage: 0,
                getImagesBox: [],
                uploadedImagesBox: null
            }
        },

        computed: {
            hello() {
                console.log('hello there!!');
            }
        },

        methods: {
            /*
            * Calls the Translation and Language service
            */
            showLanguage( context, key ) {
                return this.$store.getters.getLanguageString( context, key );
            },

            upload(event) {
                this.currentFile = this.$refs.imageFile.files[0];
                let formData = new FormData,
                    token = document.head.querySelector('meta[name="csrf-token"]'),
                    id = null;

                formData.append('_token',token.content);

                formData.append('file', this.currentFile);

                console.log('uploading today!');

                console.log(formData);

                // UserAPI.uploadImage( formData, 'public', null)
                //     .then( (response ) => {
                //         clearInterval(window.uploadInterval);
                //         this.uploadPercentage = 100;
                //
                //         // console.log(response);
                //
                //         let file = response.data.record.file,
                //             images = this.getImagesBox || [];
                //         images.push(file);
                //         this.uploadedImagesBox = images.join(',');
                //         this.getImagesBox = images;
                //         this.clearImageFile();
                //
                //         EventBus.$emit('image-uploaded', { file: file });
                //
                //         console.log('Success ' + response.config.data.get('file').name + ' uploaded. Response: ' + response.data.record.file);
                //     })
                //     .catch( (error) => {
                //         console.log(error);
                //     });

                axios.post( AM_CONFIG.API_URL + '/upload/image/public/' + id,
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: function( progressEvent ) {
                            this.uploadPercentage = parseInt( Math.round(( progressEvent.loaded / progressEvent.total ) * 100 ));

                        }.bind(this)
                    })
                    .then( (response ) => {
                        this.uploadPercentage = 100;

                        // console.log(response);

                        let file = response.data.record.file,
                            images = this.getImagesBox || [];
                        images.push(file);
                        this.uploadedImagesBox = images.join(',');
                        this.getImagesBox = images;
                        this.clearImageFile();

                        EventBus.$emit('image-uploaded', { file: file });

                        console.log('Success ' + response.config.data.get('file').name + ' uploaded. Response: ' + response.data.record.file);
                    })
                    .catch( (error) => {
                        console.log(error);
                    });
            },

            clearImageFile() {
                this.currentFile = false;
                this.$refs.imageFile.value = '';
            },

            clearContent() {
                this.currentFile = '';
                this.getImagesBox = [];
                this.uploadedImagesBox = '';
            },

            closeThisDialog() {
                this.clearContent();
                this.show = false;
            },

            closeDialogOutside( event ) {
                if ($(event.target).is('#image-upload-modal')) {
                    this.closeThisDialog();
                }
            }
        },

        /*
        When mounted, bind the show error event.
        */
        mounted(){
            EventBus.$on('show-image-upload', function( data ) {
                this.show = true;

            }.bind(this));

            EventBus.$on('upload-progress', function( data ) {
                console.log("uploading: " + data.value);
                this.uploadPercentage = data.value;

            }.bind(this));

            EventBus.$on('suspend-image-uploads', function( data ) {
                this.clearContent();
                this.show = false;

            }.bind(this));
        }
    }
</script>
