<style lang="scss">
    @import '~@/abstracts/_variables.scss';

    nav.top-navigation {
        min-height: 40px;

        div.text-center {
            a {
                margin: 0 auto;
                display: inline-block;
                width: 100%;

                span.logo {
                    display: block;
                    font-size: 30px;
                    height: 40px;
                    padding: 3px 0 0 0;
                    font-weight: 400;
                    color: $white;
                    background-color: $buttonBackground;
                    border-radius: 7px;

                    &:hover{
                        color: white;
                        background-color: $buttonBackgroundHover;
                    }
                }
            }
        }

        ul.links {
            display: block;
            float: left;
            margin: 0;

            li {
                display: inline-block;
                list-style-type: none;
                margin-left: 7px;

                a {
                    font-weight: bold;
                    color: $white;
                    font-size: 12px;
                    line-height: 40px;
                    padding: 8px;
                    background-color: $menuButtonBackground;
                    border-color: $menuButtonBorder;
                    border-radius: 7px;

                    &:hover {
                        background-color: $buttonBackgroundHeaderHover;
                        border-color: $menuButtonBorderHover;
                    }
                }
            }

            li.member-button {
                a {
                    background-color: transparent;
                    border: 0;
                    padding: 0;

                    button {
                        background-color: $mainBackgroundColor;
                        color: $memberButtonColor;
                        border-radius: 7px;
                        padding: 9px;
                        cursor: pointer;

                        &:hover {
                            color: $bodyFontColor;
                            border: 1px solid $baseColor;
                            background-color: $iceColor;
                        }
                    }
                }
            }
        }

        div.right {
            float: right;
            color: $white;

            .country-flag {
                height: 48px;
                width: 48px;
                cursor: pointer;

                img {
                    margin-top: -5px;
                }
            }
        }
    }

    /* Small only - (max-width: 39.9375em) */
    @media screen and (max-width: 769px) {
        nav.top-navigation {
            div.text-center {
                a {
                    span.logo {
                        font-size: 20px;
                        padding-top: 8px;
                    }
                }
            }
        }
    }

    /* Medium only - (min-width: 40em) and (max-width: 63.9375em) */
    @media (min-width: 769px) and (max-width: 992px) {
        nav.top-navigation {
            div.text-center {
                a {
                    span.logo {
                        font-size: 25px;
                        padding-top: 4px;
                    }
                }
            }
        }
    }

    /* Large only - (min-width: 64em) and (max-width: 74.9375em) */
    @media (min-width: 993px) and (max-width: 2048px) {

    }
</style>

<template>
    <nav class="top-navigation grid-container">
        <div class="grid-x">
            <div class="large-5 medium-5 small-6 cell text-left">
                <ul class="links">
                    <!-- handle non-member first -->
                    <li v-show="!isMember" class="member-button">
                        <a href="#" v-on:click="loadRegistration($event)">
                            <button v-bind:title="showLanguage('title', 'registerTitle')" v-text="showLanguage('nav', 'register')"></button>
                        </a>
                    </li>
                    <!-- handle members next -->
                    <li v-show="isMember" class="member-button">
                        <span v-show="userLoadStatus" >
                            <a href="#" v-on:click="runLogout($event)">
                                <button v-bind:title="showLanguage('title', 'logoutTitle')" v-text="showLanguage('nav', 'logout')"></button>
                            </a>
                        </span>
                        <span v-show="!userLoadStatus">
                            <a href="#" v-on:click="loadLogin($event)">
                                <button v-bind:title="showLanguage('title', 'loginTitle')" v-text="showLanguage('nav', 'login')"></button>
                            </a>
                        </span>
                    </li>
                    <li>
                        <router-link :to="{ name: 'about' }">
                            <span v-text="showLanguage('nav','about')"></span>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'latest' }">
                            <span v-text="showLanguage('nav','latest')"></span>
                        </router-link>
                    </li>
                </ul>
            </div>
            <div class="large-2 medium-2 hide-for-small-only cell text-center">
                <router-link :to="{ name: 'latest' }">
                    <span class="logo">{{ siteName }}</span>
                </router-link>
            </div>
            <div class="large-5 medium-5 small-6 cell" style="position: relative;">
                <div class="right">
                    <text-filter></text-filter>
                    <!-- country flag display -->
                    <span v-on:click="openLanguageSelector()" class="country-flag ng-scope" v-show="hasCountryName">
                        <img v-bind:src="'/img/flags/icons/' + setCountryName + '.ico'" v-bind:alt="'Your country is ' + setCountryName" v-bind:title="showLanguage('title', 'countryIsTitle') + ' ' + setCountryName">
                    </span>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    /*
    *   Import the application JS config
    */
    import { AM_CONFIG } from "../../config.js";

    /*
    *   Imports the event bus.
    */
    import { EventBus } from '../../event-bus.js';

    /*
    *   Imports filters.
    */
    import TextFilter from '../../components/global/TextFilter.vue';

    export default {
        /*
        *   Data used with this component
        */
        data() {
            return {
                countryName: null,
                searchActive: null,
                isLoggedIn: null,
                user: {}
            };
        },

        /*
        *   Registers child components with the component.
        */
        components: {
            TextFilter
        },

        /*
        * Defines the computed properties on the component.
        */
        computed: {
            /*
            * Retrieves the User Load Status from Vuex
            */
            userLoadStatus() {
                return (this.$store.getters.getUserLoadStatus === 2);
            },

            /*
            *   Return the site name from config
            */
            siteName() {
                return AM_CONFIG.SITE_NAME;
            },

            /*
            *   Is the browser a BOT?
            */
            isaBot() {
                let isbot = this.$store.getters.getBotStatus;
                console.log("its a bot: " + isbot);
                return isbot;
            },

            hasCountryName() {
                return (this.countryName != null);
            },

            setCountryName() {
                return this.countryName;
            },

            isMember() {
                let isMember = this.$cookie.get('app-member');
                return ((isMember && isMember.length >= 3) || this.userLoadStatus);
            }
        },

        /*
        *   Defined methods
        */
        methods: {
            /*
            * Calls the Translation and Language service
            */
            showLanguage( context, key ) {
                // return this.$trans( context, key );
                return this.$store.getters.getLanguageString( context, key );
            },

            openLanguageSelector() {
                EventBus.$emit('show-language-selector');
            },

            getCountryNameValue() {
                this.countryName = this.$store.getters.getCountryName; // this.$cookie.get('my-country');
            },

            setSearch( val ) {
                this.searchActive = val;
            },

            loadLogin(event) {
                event.preventDefault();
                EventBus.$emit('prompt-login');
            },

            runLogout(event) {
                event.preventDefault();
                let uid = this.$store.getters.getUserAuthStatus;
                this.$store.dispatch('logoutUser', { uid: uid });
                this.completeLogout();
            },

            completeLogout() {
                let status = this.$store.getters.getUserLogoutStatus, self = this;
                if (status === 1) {
                    self.completeLogout();
                }
                if (status === 2) {
                    EventBus.$emit('show-success', { notification: this.showLanguage('auth', 'logout-success')});
                }
            },

            loadRegistration(event) {
                event.preventDefault();
                EventBus.$emit('prompt-registration');
            },

            userLoggedIn() {
                this.isLoggedIn = this.$store.getters.isLoggedIn;
            },

            /*
            * Retrieves the User from Vuex
            */
            getUser() {
                this.user = this.$store.getters.getUser;
            }
        },

        mounted() {
            this.getCountryNameValue();
            this.userLoggedIn();
            this.getUser();
        }
    }
</script>
