<style lang="scss">
    @import '~@/abstracts/_variables.scss';

    div#app-layout {
        header.header-content {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background: url(/img/header-background-dark-blue.png) repeat-x 0 -22px;
            padding-top: 16px;
            z-index: 2;

            .grid-container {
                max-width: 99%;
            }
        }
        .main-content {
            background-color: $mainBackgroundColor;
            padding: 30px 0 10px 0;
            margin-top: 0;
        }
    }
</style>

<template>
    <div id="app-layout" class="off-canvas-wrapper-inner" ref="appLayout">
        <header class="header-content">
            <navigation></navigation>
        </header>

        <success-notification></success-notification>

        <error-notification></error-notification>

        <message-notification></message-notification>

        <ad-modal></ad-modal>

        <current-spot></current-spot>

        <router-view></router-view>

        <no-results-found></no-results-found>

        <site-footer></site-footer>

        <register-modal></register-modal>

        <login-modal></login-modal>

        <language-modal></language-modal>

        <image-slideshow></image-slideshow>

    </div>
</template>

<script>
    /*
    * Imports the event bus
    *  v-on:scroll="weAreScrolling($event)"
    *  v-on:scroll.native="weAreScrolling($event)"
    */
    import { EventBus } from '../event-bus.js';

    /*
    *   Import components
    */
    import Navigation from '../components/global/Navigation.vue';

    import CurrentSpot from '../components/global/CurrentSpot.vue';

    import SuccessNotification from "../components/global/SuccessNotification.vue";

    import ErrorNotification from "../components/global/ErrorNotification.vue";

    import MessageNotification from "../components/global/MessageNotification";

    import AdModal from "../components/ads/AdModal.vue";

    import ImageSlideshow from '../components/ads/ImageSlideshow.vue';

    import NoResultsFound from "../components/ads/NoResultsFound.vue";

    import SiteFooter from "../components/global/SiteFooter.vue";

    import RegisterModal from "../components/global/RegisterModal.vue";

    import LoginModal from "../components/global/LoginModal.vue";

    import LanguageModal from "../components/global/LanguageModal";

    export default {
        components: {
            Navigation,
            CurrentSpot,
            SuccessNotification,
            ErrorNotification,
            MessageNotification,
            AdModal,
            ImageSlideshow,
            NoResultsFound,
            SiteFooter,
            RegisterModal,
            LoginModal,
            LanguageModal
        },

        method: {
            getCountryFromCookie() {
                return this.$cookie.get('my-country');
            },

            getCountryFromStore() {
                return this.$store.getters.getCountryName;
            },

            weAreScrolling(event) {
                console.log("scrolling...");
                console.log(event.target.scrollHeight);
                console.log(event.target.scrollTop);
            }
        },

        mounted() {
            if (this.getCountryFromCookie !== this.getCountryFromStore)  {
                this.$store.dispatch('setCountryNameFromCookie', this.$cookie.get('my-country'));
            }
        },

        created() {
            this.$store.dispatch( 'getLocation');
            this.$store.dispatch( 'setDefaultLanguage' );

            this.$http.interceptors.response.use(undefined, function (err) {
                return new Promise(function (resolve, reject) {
                    if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
                        this.$store.dispatch('logoutUser');
                    }
                    throw err;
                });
            });

            this.$store.dispatch( 'loadUser' );

            window.addEventListener('scroll', this.weAreScrolling);

        },

        destroyed() {
            window.removeEventListener('scroll', this.weAreScrolling);
        }
    }
</script>
