<style lang="scss">
    @import '~@/abstracts/_variables.scss';

    div#app-layout {
        header.header-content {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background: url(/img/header-background-dark-blue.png) repeat-x 0 -22px;
            padding-top: 16px;
            z-index: 2;

            .grid-container {
                max-width: 99%;
            }
        }
        .main-content {
            background-color: $mainBackgroundColor;
            padding: 30px 0 10px 0;
            margin-top: 0;
        }
    }
</style>

<template>
    <div id="app-layout" class="off-canvas-wrapper-inner">
        <header class="header-content">
            <navigation></navigation>
        </header>

        <current-spot></current-spot>

        <router-view></router-view>

        <success-notification></success-notification>

        <no-results-found></no-results-found>

        <error-notification></error-notification>

    </div>
</template>

<script>
    /*
    * Imports the event bus
    */
    import { EventBus } from '../event-bus.js';

    /*
    *   Import components
    */
    import Navigation from '../components/global/Navigation.vue';

    import CurrentSpot from '../components/global/CurrentSpot.vue';

    import AdModal from "../components/ads/AdModal.vue";

    import ImageSlideshow from '../components/ads/ImageSlideshow.vue';

    import NoResultsFound from "../components/ads/NoResultsFound";

    import SuccessNotification from "../components/global/SuccessNotification";

    import ErrorNotification from "../components/global/ErrorNotification";

    import RegisterModal from "../components/global/RegisterModal";

    import LoginModal from "../components/global/LoginModal";

    import PassportAuthorizedClients from "../components/passport/AuthorizedClients";

    import PassportClients from "../components/passport/Clients";

    import PassportPersonalAccessTokens from "../components/passport/PersonalAccessTokens";

    export default {
        components: {
            Navigation,
            CurrentSpot,
            NoResultsFound,
            SuccessNotification,
            ErrorNotification,
        },

        created() {
            this.$http.interceptors.response.use(undefined, function (err) {
                return new Promise(function (resolve, reject) {
                    if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
                        let uid = sessionStorage.getItem('uid') || 0;
                        this.$store.dispatch('logoutUser', { uid: uid });
                    }
                    throw err;
                });
            });
        }
    }
</script>
