<style lang="scss">
    @import '~@/abstracts/_variables.scss';

    div#my-ad-modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 3;

        div.my-ad-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-left:auto;
            margin-right:auto;
            padding: 20px;
            background-color: $white;
            border: 1px solid $modalBorderColor;
            -webkit-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
            box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
            border-radius: 4px;
            font-size: 16px;
            z-index: 4;
            height: 100%;
            overflow: auto;
            scroll-behavior: smooth;

            h3 {
                height: 45px;

                .close-label {
                    cursor: pointer;

                    img {
                        border: $red dotted 1px;
                    }
                }
            }

            .ad-data-container {
                margin-top: 50px;
            }

            .modal-image {
                padding-left: 0;
            }

            .modal-text {
                padding-right: 0;
            }

            .modal-close-button {
                button {
                    background-color: $moreBackgroundColor;
                    color: $whiteFont;
                    border: $modalBorderColor 1px solid;
                    border-radius: 5px;
                    padding: 5px 10px;

                    &:hover {
                        background-color: $moreBackgroundColorHover;
                        border-color: $moreBorderColorHover;
                    }
                }
            }
        }
    }

    /* Small only - (max-width: 39.9375em) */
    @media screen and (max-width: 768px) {
        div#my-ad-modal{
            div.my-ad-modal-box{
                width: 95%;
                max-width: 100%;
            }
        }
    }

    /* Medium only - (min-width: 40em) and (max-width: 63.9375em) */
    @media (min-width: 769px) and (max-width: 992px) {
        div#my-ad-modal {
            div.my-ad-modal {
                max-width: 840px;
                min-width: 640px;
            }
        }
    }

    /* Large only - (min-width: 64em) and (max-width: 74.9375em) */
    @media (min-width: 993px) and (max-width: 2048px) {
        div#my-ad-modal {
            div.my-ad-modal {
                max-width: 1240px;
                min-width: 1080px;
            }
        }
    }
</style>

<template>
    <div id="my-ad-modal" v-show="displayModal" v-on:click="closeDialogOutside($event)">
        <div class="my-ad-modal">
            <div class="model-content">
                <h3>{{ ad.title }} <span v-on:click="closeThisDialog('button')" class="btn-info close-label float-right" type="button"><img title="Close modal" alt="Close modal" src="/img/close-icon.svg"></span></h3>
                <div class="grid-x text-center grid-padding-x">
                    <div class="cell small-12 medium-6 large-6 text-center modal-image">
                        <ImageSlider v-bind:images.sync="images"></ImageSlider>
                    </div>
                    <div class="cell small-12 medium-6 large-6 modal-text">
                        <div v-html="ad.text"></div>
                    </div>
                </div>
                <div class="grid-x">
                    <div class="cell">
                        <hr>
                    </div>
                </div>
                <div class="ad-data-container grid-x">
                    <div class="cell hide-for-small-only medium-2 large-3">
                        &nbsp;
                    </div>
                    <div class="cell small-12 medium-8 large-6">
                        <p><strong class="title" v-text="showLanguage('ad', 'phone')"></strong>		 <span class="data"><a tel="{ ad.phone }">{{ ad.phone }}</a></span></p>
                        <p><strong class="title" v-text="showLanguage('ad', 'suburb')"></strong>		 <span class="data">{{ ad.suburb }}</span></p>
                        <p v-show="ad.state"><strong class="title" v-text="showLanguage('ad', 'state')"></strong>		 <span class="data">{{ ad.state }}</span></p>
                        <p><strong class="title" v-text="showLanguage('ad', 'advertiserAge')"></strong> <span class="data">{{ ad.age }}</span></p>
                        <p><strong class="title" v-text="showLanguage('ad', 'language')"></strong>		 <span class="data">{{ ad.language }}</span></p>
                        <p v-show="ad.website"><strong class="title" v-text="showLanguage('ad', 'website')"></strong>	<span class="data"><a :href="ad.website" target="_blank">{{ ad.website }}</a></span></p>
                        <p><strong class="title" v-text="showLanguage('ad', 'advertiserRating')"></strong>	<span class="data">{{ ad.rating }} / 100</span></p>
                        <p v-show="ad.image_rating"><strong class="title" v-text="showLanguage('ad', 'imagesVerified')"></strong>	<span class="data" v-text="setImageRating( ad.image_rating )"></span></p>
                        <p><strong class="title" v-text="showLanguage('ad', 'adCreated')"></strong>	 <span class="data">{{ ad.created }}</span></p>
                    </div>
                    <div class="cell hide-for-small-only medium-2 large-3">
                        &nbsp;
                    </div>
                </div>
                <div class="grid-x">
                    <div class="cell">
                        <p><strong class="title" v-text="showLanguage('ad', 'adLink')"></strong> <span class="data"><strong>	<a :href="'/#/' + ad.slug_ad">{{ ad.slug_ad }}</a></strong></span></p>
                        <hr>
                    </div>
                </div>
                <div class="grid-x">
                    <div v-show="ad.video" class="cell">
                        <video data-video-source="{ ad.video }" width="99%" height="auto" controls class="no-padd">
                        </video>
                    </div>
                </div>
            </div>
            <div class="modal-close-button">
                <button v-on:click="closeThisDialog('button')" class="btn-info float-right" type="button" v-text="showLanguage('global', 'close')"></button>
            </div>
        </div>
    </div>
</template>

<script>
    /*
    *   Imports the event bus.
    * <div class="image-container" v-for="i in ad.images" :key="i.id" :img="i.image">
    *    <p :title="showLanguage('title', 'moreImages')"><img class="image" alt="Images" :src="'/images/photos/' + img "></p>
    *  </div>
    */
    import { EventBus } from '../../event-bus.js';

    /*
    *   Import the Image Slider
    */
    import ImageSlider from '../../components/ads/ImageSlider.vue';

    // countries[0][ad[0].country]

    export default {
        /*
        *   components we need to embrace
        */
        components: {
            ImageSlider
        },

        /*
        *   Defines the data used by the component.
        */
        data() {
            return {
                show: null,
                ad: {},
                images: ''
            }
        },

        /*
          Sets up the component on the mounted lifecycle hook.
        */
        mounted() {
            /*
              When prompted to show a single ad
            */
            EventBus.$on('show-ad', function(data) {
                console.log(' request to show ad: ' + data);
                console.log(' request to show ad id: ' + data.id);
                this.getDisplayAd( data.id );
                this.show = true;

            }.bind(this));
        },

        beforeDestroy() {
            EventBus.$emit('closing-ad-modal');
        },

        computed: {
            displayModal() {
                return this.show;
            }
        },

        /*
        *   Methods required for this component
        */
        methods: {
            getDisplayAd( id ) {
                this.ad = this.$store.getters.getDisplayAd( id );
            },

            /*
            * Calls the Translation and Language service
            */
            showLanguage( context, key ) {
                //return this.$trans( context, key );
                return this.$store.getters.getLanguageString( context, key );
            },

            setImageRating( value ) {
                return value === 1 ? 'Yes' : 'No';
            },

            returnImages( images ) {
                return images;
            },

            closeThisDialog() {
                this.show = false;
                this.ad = {};
                this.$store.dispatch( 'clearDisplayedAd' );
            },

            closeDialogOutside( event ) {
                if ($(event.target).is('#my-ad-modal')) {
                    this.closeThisDialog();
                }
            },
        },

        watch: {
            ad: function() {
                if (this.ad.images) {
                    let images = this.ad.images;
                    if (images.indexOf(',')) {
                        images = images.split(',')
                    }
                    this.images = images;
                }
            }
        }
    }
</script>
