<style lang="scss">
    @import '~@/abstracts/_variables.scss';

    div#my-slideshow-modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 5;

        div.my-slideshow-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-left:auto;
            margin-right:auto;
            padding: 20px;
            background-color: $white;
            border: 1px solid transparent;
            -webkit-box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
            box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
            border-radius: 4px;
            font-size: 16px;
            z-index: 6;
            height: auto;

            .modal-close-button {
                background-color: $moreBackgroundColor;
                color: $whiteFont;
                border: $modalBorderColor 1px solid;
                border-radius: 5px;
            }

            .image-slider-container {
                position: relative;

                .image-slider {
                    .fade-enter-active,
                    .fade-leave-active {
                        transition: all 0.9s ease;
                        overflow: hidden;
                        visibility: visible;
                        position: absolute;
                        width: 100%;
                        opacity: 1;
                    }

                    .fade-enter,
                    .fade-leave-to {
                        visibility: hidden;
                        width: 100%;
                        opacity: 0;
                    }

                    img {
                        height: auto;
                        width: 100%
                    }
                }

                .image-actions {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: $buttonBackground;
                    height: 50px;

                    .prev, .next {
                        cursor: pointer;
                        position: absolute;
                        top: 40%;
                        width: auto;
                        padding: 16px;
                        color: $whiteFont;
                        font-weight: bold;
                        font-size: 18px;
                        transition: 0.7s ease;
                        text-decoration: none;
                        user-select: none;
                    }

                    .next {
                        right: 0;
                        border-radius: 0 4px 4px 0;
                        border-left-color: lighten($buttonBackground, 33%);
                    }

                    .prev {
                        left: 0;
                        border-radius: 4px 0 0 4px;
                        border-right-color: lighten($buttonBackground, 33%);
                    }

                    .prev:hover, .next:hover {
                        border-left-color: lighten($buttonBackground, 33%);
                        //background-color: rgba(0,0,0,0.9);
                    }
                }
            }
        }
    }

    /* Small only */
    @media screen and (max-width: 768px) {
        div#my-slideshow-modal{
            div.my-slideshow-modal-box{
                max-width: 100%;
            }
        }
    }

    /* Medium only */
    @media screen and (min-width: 769px) and (max-width: 992px) {
        div#my-slideshow-modal {
            div.my-slideshow-modal {
                max-width: 840px;
                min-width: auto;
            }
        }
    }

    /* Large only */
    @media screen and (min-width: 993px) and (max-width: 2048px) {
        div#my-slideshow-modal {
            div.my-slideshow-modal {
                max-width: 1240px;
                min-width: auto;
            }
        }
    }
</style>

<template>
    <div id="my-slideshow-modal" v-show="show" v-on:click="closeThisDialog('modal')">
        <div class="my-slideshow-modal">
            <div class="image-slideshow-container" v-show="show">
                <div class="image-slideshow">
                    <transition-group name="fade" tag="div">
                        <div v-for="i in [currentIndex]" :key="i">
                            <img alt="Slide" :src="currentImg" />
                        </div>
                    </transition-group>
                </div>
                <div v-show="showActions" class="image-actions text-center">
                    <a class="prev" v-on:click="prevImg" href="#">&#10094;&#10094;</a>
                    <a class="next" v-on:click="nextImg" href="#">&#10095;&#10095;</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /*
    *   Imports the event bus.
    */
    import { EventBus } from '../../event-bus.js';

    export default {
        /*
        * Our first component name property
        */
        name: 'ImageSlideshow',

        /*
        *   Data element to drive the slider
        */
        data: function() {
            return {
                slides: [],
                timer: null,
                currentIndex: 0,
                show: false
            };
        },

        /*
        * Upon mounting start the slider
        */
        mounted: function() {
            /*
            *   When the ad modal is closing
            */
            EventBus.$on('closing-ad-modal', function() {
                this.slides = [];
                this.timer = null;
                this.currentIndex = 0;
                this.show = false;

            }.bind(this));

            EventBus.$on('start-slideshow', function(data) {
                this.slides = data.slides;
                this.startSlideshow();

            }.bind(this));
        },

        /*
        *   Methods required for this component
        */
        methods: {
            startSlideshow: function() {
                this.show = true;
                if (this.slides.length > 1) {
                    this.timer = setInterval(this.nextImg, 5000);
                }
            },

            nextImg: function() {
                this.currentIndex += 1;
            },

            prevImg: function() {
                this.currentIndex -= 1;
            },

            closeThisDialog() {
                this.show = false;
                this.slides = [];
                this.time = null;
                this.currentIndex = 0;
            }
        },

        /*
        * The computed parts
        */
        computed: {
            currentImg: function() {
                if (this.slides.length > 0 ) {
                    return '/images/photos/' + this.slides[Math.abs(this.currentIndex) % this.slides.length];
                }
            },

            showActions() {
                return false;// this.slides.length > 1;
            },

            getSlidesStatus() {
                return this.slides.length > 0;
            }
        }
    }
</script>
