<style lang="scss">
    @import '~@/abstracts/_variables.scss';

    .image-slider-container {
        position: relative;

        .image-slider {
            .fade-enter-active,
            .fade-leave-active {
                transition: all 0.9s ease;
                overflow: hidden;
                visibility: visible;
                position: absolute;
                width: 100%;
                opacity: 1;
            }

            .fade-enter,
            .fade-leave-to {
                visibility: hidden;
                width: 100%;
                opacity: 0;
            }

            img {
                height: auto;
                width: 100%
            }
        }

        .image-actions {
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            background-color: $buttonBackground;
            height: 50px;

            .prev, .slideshow, .next {
                cursor: pointer;
                position: absolute;
                bottom: 0;
                width: auto;
                padding: 16px;
                color: $whiteFont;
                font-weight: bold;
                font-size: 18px;
                transition: 0.7s ease;
                text-decoration: none;
                user-select: none;
            }

            .next {
                right: 0;
                border-radius: 0 4px 4px 0;
                border-left-color: lighten($buttonBackground, 33%);
            }

            .slideshow {
                left: 40%;
            }

            .prev {
                left: 0;
                border-radius: 4px 0 0 4px;
                border-right-color: lighten($buttonBackground, 33%);
            }

            .prev:hover, .slideshow:hover .next:hover {
                border-left-color: lighten($buttonBackground, 33%);
                //background-color: rgba(0,0,0,0.9);
            }
        }
    }

</style>

<template>
    <div class="image-slider-container" v-show="show">
        <div ref="image-box" class="image-slider" v-bind:style="getStyle">
            <transition-group name="fade" tag="div">
                <div v-for="i in [currentIndex]" :key="i">
                    <img alt="Slide" :src="currentImg" />
                </div>
            </transition-group>
        </div>
        <div v-show="showActions" class="image-actions text-center">
            <a class="prev" v-on:click="prevImg($event)" href="#">&#10094;&#10094;</a>
            <a class="slideshow" v-on:click="showSlideshow()">Slideshow</a>
            <a class="next" v-on:click="nextImg($event)" href="#">&#10095;&#10095;</a>
        </div>
    </div>
</template>

<script>
    /*
    *   Imports the event bus.
    */
    import { EventBus } from '../../event-bus.js';

    export default {
        /*
        * Our first component name property
        */
        name: 'ImageSlider',

        /*
        * We need to pass the images to the component when its called props:
        */
        props: {
            images: null
        },

        /*
        *   Data element to drive the slider
        */
        data: function() {
            return {
                slides: [],
                timer: null,
                currentIndex: 0,
                show: false,
                style: {height: 'auto'}
            };
        },

        /*
        * Upon mounting start the slider
        */
        mounted: function() {
            /*
            *   When the ad modal is closing
            */
            EventBus.$on('closing-ad-modal', function(data) {
                this.slides = [];
                this.timer = null;
                this.currentIndex = 0;
                this.show = false;

            }.bind(this));
        },

        /*
        *   Methods required for this component
        */
        methods: {
            startSlide: function() {
                this.show = true;
            //    if (this.slides.length > 1) {
            //        this.timer = setInterval(this.nextImg, 5000);
            //    }
            },

            nextImg: function(event) {
                event.preventDefault();
                this.currentIndex += 1;
            },

            prevImg: function(event) {
                event.preventDefault();
                this.currentIndex -= 1;
            },

            getSetHeight( event ) {
                let height = event.target.boxHeight;
                return { height: height + 'px' }
            },

            showSlideshow() {
                EventBus.$emit('start-slideshow', { slides: this.slides });
            }
        },

        /*
        * The computed parts
        */
        computed: {
            currentImg: function() {
                if (this.slides.length > 0 ) {
                    return '/images/photos/' + this.slides[Math.abs(this.currentIndex) % this.slides.length];
                }
            },

            showActions() {
                return this.slides.length > 1;
            },

            getSlidesStatus() {
                return this.slides.length > 0;
            },

            getStyle() {
                return this.style;
            }
        },

        watch: {
            images: function() {
                if (this.images && this.images.length > 0) {
                    this.slides = this.images;
                    this.startSlide();
                }
            },

            getImages() {
              //  this.triggerSlideshow();
            }
        }
    }
</script>
